* {
    font-family: Roboto;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #A4C3B2;

}

.headerStyle {
    background-color: #6B9080;
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: none;
    color: rgba(228, 227, 227, 0.959);
    
    
}

.libraryContainer {
    display: grid;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(3, 1fr);
    gap: 8.5%;
    grid-auto-rows: 250px;
}



.bookDisplay {
    border: 3px;
    border-color:#EAF4F4;
    border-style: solid;
    border-radius: 10px;
    background-color: #CCE3DE;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: transform .5s ease;
    margin-top: 5%;

}

.bookDisplay:hover {
    transform: scale(1.1);
}

.bookDisplay div {
    height: 100%;
    width: 100%;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: #718f885b;
}

.bookDisplayButtonDiv {
    display: flex;
    height: 100%;
    width: 100%;
}
.bookDisplayButtonDiv button {
    height: 100%;
    width: 100%;
    background-color: #718f88b0;
    font-size: 30px;
    border-radius: 10px;
}

.bookDisplayButtonDiv button:hover {
    background-color:  #718f8828;
}


.addContainerStyle {
    border: 3px;
    border-color:#F6FFF8;
    border-style: solid;
    border-radius: 10px;
    background-color: #CCE3DE;
    display: flex;
    flex: .5;
    flex-direction: column;
    height: 100%;
    width: 50%;
    transition: transform .25s ease;
    margin-top: 5%;

}

.addContainerStyle:hover {
    transform: scale(1.1) rotate(90deg);
}

.addButtonStyle {
    background-color: #CCE3DE;
    height: 100%;
    width: 100%;
    border:none;
    font-size: 100px;
}

.addButtonStyle:hover {
background-color: #9ac0b898;
}

.addButtonStyle:active {
    background-color: #4241414f;
}

.addBookModal {
    display: none;
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #CCE3DE;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 10px;
    border: 3px;
    border-color:#F6FFF8;
    flex-direction: column;

}

.modalContent {
    display: flex;
    flex: 10;
    width: 100%;
}
.closeModal {
    display: flex; 
    flex:1;
    width: 10%;
    font-size: 55px;
}

.modalFooter {
    display: flex;
    flex: 2;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.addBookToLibrary {
    background-color: #718f88b0;
    width: 90%;
    font-size: 50px;
    border: 3px;
    border-radius: 10px;
}

.formStyle {
    width: 100%;
    justify-content: center;
    align-content: center;
}

.formLabelStyle {
    font-size: 25px;
}


.formInputBox {
    font-size: 20px;
}